*, :after, :before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;

    background: black;
    color: white;
    font-family : sans-serif;
}

.btn-group {
    display: flex;
}

.btn {
    background      : #ff8800;
    color           : black;
    font-size       : 22px;
    font-weight     : bold;
    padding         : 1em;
    margin          : 1em;
    border-radius   : 1em;
    max-width       : 50vw;
    text-align      : center;
    flex-grow       : 1;
    cursor          : pointer;
}

.btn:hover {
    background : #ffad00;
}
