*, :after, :before {
    box-sizing: border-box;
}

body {
    padding : 0;
    margin  : 0;
    height  : 100%;

    background  : black;
    color       : white;
    font-family : sans-serif;

    user-select           : none;
    touch-callout         : none;
    -webkit-touch-callout : none;
}

.btn-group {
    display         : flex;
    justify-content : flex-end;
    align-items     : center;
    margin          : 3rem;
}

.btn {
    color           : black;
    font-size       : 22px;
    font-weight     : bold;
    padding         : 1em;
    border-radius   : 1em;
    border          : 3px solid orange;
    width           : 200px;
    height          : 200px;
    text-align      : center;
    cursor          : pointer;

    user-select         : none;
    -webkit-user-select : none;
}

.btn:active {
    background : orange;
}
